.layout-container{
  width: 85%;
  margin: auto;
}

.layout-container header{
  padding-top: 1.2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

header .region-header{
  margin: auto 0;
}